

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "aside section1 section1"
        "aside section2 section3"
        "aside section2 section-half"
        "footer footer footer";
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr auto;
    height: 100vh;
}

.header {
    grid-area: header;
    text-align: center;
}

.aside {
    grid-area: aside;
}

.section1 { grid-area: section1; }
.section2 { grid-area: section2; }
.section3 { grid-area: section3; }
.section-half { 
    grid-area: section-half; 
    display: grid;
    grid-auto-flow: column;
}
.footer {
    grid-area: footer;
    text-align: center;
}